.title {
  font-size: 30px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #333333;
  line-height: 37px;
  letter-spacing: 1px;
  margin-left: 32px;
  margin-top: 86px;
}
.description {
  font-size: 15px;
  font-weight: 400;
  color: #999999;
  line-height: 26px;
  margin-left: 32px;
  margin-top: 15px;
}
.getStarted {
  margin-top: 15px;
  margin-left: 32px;
  width: 180px;
  height: 45px;
  background: #40ae36;
  border-radius: 23px;
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  line-height: 22px;
}
.img {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 375px;
  height: 316px;
}
